<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Your Items</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= simple_form_for(@item, html: { class: 'form-inline' }) do |f| %>
        <%= f.input :title, label: false %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <% Item.lists.keys.each do |list| %>
    <section id="<%= list %>" class="my-3">
      <div class="row">
        <div class="col-xs-6">
          <h4><%= list.capitalize %></h4>
          <ol id="<%= list %>-list" data-list="<%= list %>">
            <% @items.send(list).each do |item| %>
              <li data-item-id='<%= item.id %>'><%= item.title %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </section>
  <% end %>
</div>

<%= javascript_pack_tag 'draggable' %>
