<!DOCTYPE html>
<html>
  <head>
    <title>Brutal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Brutal</a>
        <% if user_signed_in? %>
          <span class="badge badge-secondary"><%= current_user.email %></span>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-light" %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
